@font-face {
  font-family: Hanson;
  src: url(../images/Hanson.otf);
}

html,
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

* {
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Hanson', sans-serif;
}

p {
    font-family: 'Hanson', sans-serif;
    font-size: 1.25rem;
    line-height: 30px;
    color: #6c757d;
}



/* Navigation */

nav.r-nav {
    background: transparent;
    padding: 20px 0;
    transition: .5s all;

}

nav .navbar-brand {
    font-family: 'Hanson', sans-serif;
    font-size: 1.875rem;
    color: yellow;
}

nav .navbar-nav li a {
    color: rgba(225, 225, 225, 0.5) !important;
    font-size: 1rem;
    letter-spacing: 0.05em;
    font-weight: 600;
    font-family: 'Hanson', sans-serif;
}

nav .navbar-nav li {
    margin-left: 15px;
}


nav.r-nav.stickyadd {
    background: #fff !important;
    padding: 15px 0;
    box-shadow: 0 1px 8px 3px rgba(0, 0, 0, 0.05);
    transition: .5s all ease-in-out;
}


nav.stickyadd .navbar-brand {
    color: #000;
    font-size: 2.5rem;
    transition: .5s all;
}

nav.stickyadd .navbar-nav .nav-link {
    color: #000 !important;

}


.navbar .hamburger {
    color: #fff;
}

nav.stickyadd .hamburger {
    color: #000;
}


/* Header */

header {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/spinninglogo.gif) no-repeat center center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.talents {
    font-size: 4em;
    padding: 10vh;
    text-align: center;
}

.header-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.content-box {
    max-width: 700px;
    color: #fff;
}

.content-box h4 {
    font-size: 1.875rem;
}

.content-box h1 {
    font-size: 3.25rem;
    color: yellow;
}

.content-box a {
    color: #fff;
    text-decoration: none;
    border: 2px solid #fff;
    border-radius: 20px;
    padding: 5px 25px;
}

.content-box a:hover {
    color: #000;
    background-color: #fff;
    transition: 0.5s all;
}

.name {
    color: #E96F85;
}

.puppy {
    text-align: center;
}

.typoanimation {
    text-align: center;
    padding: 1.25rem;
}

.videosayee {
    text-align: center;
    padding-top: 1.5em;
}

.photos {
    text-align: center;
    padding: 1.25rem;
    padding-top: 2em;
}


/*     About Me */
.about li a {
    color: #000;
    display: inline-block;
    justify-content: center;
    align-items: center;
    height: 42px;
    width: 42px;
    font-size: 20px;
    border: 2px solid #d4d4d4;
    border-radius: 50%;
    line-height: 40px;
    transition: 0.5s all;
    text-align: center;
}

.about li a:hover {
    color: #EE8683;
    border: 2px solid #EE8683;
}

input[type=text],
select,
textarea {
    font-family: 'Hanson', sans-serif;
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    font-family: 'Hanson', sans-serif;
    background-color: yellow;
    color: black;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    font-family: 'Hanson', sans-serif;
    background-color: yellowgreen;
}

.containerform {
    font-family: 'Hanson', sans-serif;
    border-radius: 5px;
    background-color: lightgrey;
    padding: 20px;
    width: 60vh;
    display: flex;
    justify-content: center;
}

.socialmedia {
    font-size: 2em;
    color: yellow;
    text-decoration: none;
}

.fab {
    color: black;
}

html {
    scroll-behavior: smooth;
}

.contact {
    margin-bottom: 1em;
}

.iframe-container{
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; 
  height: 0;
}
.iframe-container iframe{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}


@media screen and (max-width: 390px){

    .navbar-expand-lg>.container, .navbar-expand-lg>.container-fluid{
        padding-right: 10px !important;
        padding-left: 15px !important;
    }
    #gallery{
        font-size: 1.7rem !important;
    }
    .photos{
        padding-top: 10px !important;
    }

    .talents{
        font-size: 2rem;
        padding-top: 10vh;
    }

    #videos{
        font-size: 2rem !important;
    }

    .content-box h1{
        font-size: 2.1rem !important;
    }
}
